<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans-4.0.xsd"
    default-init-method="initialize"
    default-destroy-method="finalize">

	<bean id="beanTeamplate" abstract="true">
       <property name="message" value="Namaste India!"/>
   </bean>

   <bean id="helloWorld" class="com.tutorialspoint.HelloWorld" init-method="initialize" destroy-method="finalize" scope="prototype" parent="beanTeamplate">
       <!--property name="message" value="Hello World! This is Siva Karthik Gade!!!"/-->
       <constructor-arg value="Hehehe"/>
       <constructor-arg value="17"/>
   </bean>

   <bean class="com.tutorialspoint.HelloSpringBeanPostProcessor"/>
   
   <bean id="helloIndia" class="com.tutorialspoint.HelloIndia">
   		<property name="childMessage" value="Childd Messagee !!"/>
   </bean>

   <bean id="helloAustralia" class="com.tutorialspoint.HelloAustralia">
   		<property name="ausMessage" value="Australian Messagee !!"/>
   </bean>

</beans>